<!-- edit.html.erb -->
<% content_for :page_header do %>
  <div class="page-header">
    <h1 class="page-header-title">New condition report</h1>
    <h4 class="page-header-address">555 St kilda rd</h4>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      20%
    </div>
  </div>
<% end %>

<!--  -->
<div class="container">
  <div class="room">
    <div class="row">
      <div class="col-md-12">
        <% @rooms.each do |room| %>
          <h3><%= room.name %></h3>
          <% room.room_elements.each do |element| %>
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"><%= element.name %></h3>
              </div>
              <div class="panel-body">
              <% element.room_element_approvals.each do |approval| %>
                <div>
                  Tenant approval ✔️ <%= approval.tenant_approval %>
                  Owner   approval ✔️ <%= approval.owner_approval %>
                </div>
              <% end %>

              <% element.comments.each do |comment| %>
                <div>

                  <%= comment.text_comment %>
                  <%= comment.state %>
                  <div class= "text-right"> <%= render partial: "shared/lightbox_image", locals: {photo: comment.photo} %>
                    <%= simple_form_for [@conditionreport, @comment], url:  new_condition_report_comment_path(@conditionreport), method: 'get' do |f| %>
                      <%= hidden_field_tag 'room_element_id', element.id %>
                      <%= button_tag type: 'submit' do %>
                        <i class="fas fa-comment-dots" aria-hidden="true"></i>
                      <% end %>

                    <div class = "approvals">
                      <%= simple_form_for ([element, @room_element_approval]) do |f| %>
                      <%= f.input :condition_report_id, as: :hidden%>
                      <%= f.input :tenant_approval %>
                      <!-- .input :owner_approval %> -->
                      <% end %>
                  </div>

                    <% end %>


                  <%= link_to new_condition_report_comment_path(@conditionreport) do %>
                    <i class=></i>
                  <% end %>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="action-bar">
        <%= link_to "Preview", condition_report_path(@conditionreport), class: "btn btn-primary action-bar-button"%>
        <div class="action-bar-light-part"></div>
      </div>
      </div>
    </div>
  </div>
</div>

