<!-- edit.html.erb -->

<div class="container">
  <div class="room">
    <div class="row">
      <div class="col-md-10">
        <% @rooms.each do |room| %>
          <h3><%= room.name %></h3>
          <div class="panel">
            <% room.room_elements.each do |element| %>
              <h4> <%= element.name %> </h4>

              <% element.room_element_approvals.each do |approval| %>
                <div>
                  Tenant approval ✔️ <%= approval.tenant_approval %>
                  Owner   approval ✔️ <%= approval.owner_approval %>
                </div>
              <% end %>

              <% element.comments.each do |comment| %>
                <div>
                  <%= comment.text_comment %>
                  <%= comment.state %>
                  <%= render partial: "shared/lightbox_image", locals: {photo: comment.photo} %>
                  <%= link_to "Add comment", new_room_element_comment_path(element), class: "btn btn-primary" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class= "text-center">
        <p><%= link_to "Preview", condition_report_path(@conditionreport), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>

