<% content_for(:title) { 'Title' } %>

<div class="edit">
  <% @rooms.each do |room| %>
    <h2 class="heading"><%= room.name %></h2>
    <% room.room_elements.each do |element| %>
      <div class="expand-alix" id="element-<%= element.id %>">
        <div class="cards">
          <div class="card">
            <div class=" card-header">
              <p class="sub-heading"><%= element.name %></p>
               <button class="card-expand">
                  <i class="fas fa-chevron-down expand"></i>
                  <i class="fas fa-chevron-up close"></i>
                </button>
                <div class="approval">
                  <%= simple_form_for ([element, RoomElementApproval.find_by(condition_report_id: @conditionreport.id, room_element_id: element.id) || @room_element_approval]) do |f| %>
                  <%= f.input :tenant_approval, label: 'Agreed' %>
                   <!--  <label for="option_1" class="check-title">Option 1</label>
                  </label> -->
                  <%= f.input :condition_report_id, as: :hidden%>
                </div>
                <% end %>
            </div>
            <div class="card-inner">
              <div class="card-body">
                <div class="comments">
                  <h3 class="comments-title">Comments</h3>
                  <% if (element.comments.count == 0) %>
                    No comments yet.
                  <% end %>
                  <% element.comments.each do |comment| %>
                    <div class="comment">
                      <div class="text-comment">
                        <p><%= comment.text_comment %></p>
                      </div>
                    <ul class="state tags">
                      <% if comment.state? %>
                        <% comment.state.split.each do |state| %>
                          <li class="tag">
                            <span><%= state %></span>
                          </li>
                        <% end %>
                      <% else %>
                        <li class="tag">
                          <span>N/A</span>
                        </li>
                      <% end %>
                    </ul>

                      <% if comment.photo? %>
                        <div class="comment-image">
                          <a href="<%= cl_image_path comment.photo, crop: :fill %>" class="swipebox" title= "<%= element.name %>" >
                            <%= cl_image_tag comment.photo, height: 80, width: 110, crop: :fill, class:"pop imagepreview"%>
                          </a>
                        </div>
                        <% end %>
                    </div>
                <% end %>
                </div>
              </div>
              <div class="card-footer">

                <div class="add-comment">
                  <%= render "shared/comment_box", comment: @comment, condition_report: @conditionreport, room_element_id: element.id %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="action-bar">
<%= link_to "Preview", condition_report_path(@conditionreport), class: "btn btn-primary action-bar-button"%>
</div>
