<div class="edit">
  <% @rooms.each do |room| %>
    <h2 class="heading"><%= room.name %></h2>
    <% room.room_elements.each do |element| %>
      <div class="card">
            <h3 class="sub-heading">
              <%= element.name %>
            </h3>
            <div class="comments">
              <% element.comments.each do |comment| %>
                <ul class="state tags">
                  <% comment.state.split.each do |state| %>
                    <li class="tag">
                      <%= state %>
                    </li>
                  <% end %>
                </ul>
                <div class="comment">
                  <div class="text-comment">
                    <p><%= comment.text_comment %></p>
                  </div>
                  <div class="comment-image">
                    <%= render partial: "shared/lightbox_image", locals: { photo: comment.photo } %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="approval">
              <i class="far fa-check-square"></i>
            </div>
            <div class="add-comment">
              <i class="fas fa-plus"></i>
            </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="expand-alix">
  <div class="cards">
    <div class="card">
      <div class="card-header">
        <p>More awesome expanding card</p>
        <button class="card-expand">
          <i class="fas fa-chevron-down expand"></i>
          <i class="fas fa-chevron-up close"></i>
        </button>


      </div>
      <div class="card-inner">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ullam adipisci nihil dolorum eligendi explicabo modi voluptate minus a itaque fugiat.
        </div>
        <div class="card-footer">
          %a{:href => ""} some link
        </div>
      </div>

    </div>
  </div>
</div>


