<!-- edit.html.erb -->

<div class="container">
  <div class="room">
    <div class="row">
      <div class="col-md-10">
        <% @rooms.each do |room| %>
          <h3><%= room.name %></h3>
          <% room.room_elements.each do |element| %>
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"><%= element.name %></h3>
              </div>
              <div class="panel-body">
              <% element.room_element_approvals.each do |approval| %>
                <div>
                  Tenant approval ✔️ <%= approval.tenant_approval %>
                  Owner   approval ✔️ <%= approval.owner_approval %>
                </div>
              <% end %>

              <% element.comments.each do |comment| %>
                <div>
                  <%= comment.text_comment %>
                  <%= comment.state %>
                  <%= render partial: "shared/lightbox_image", locals: {photo: comment.photo} %>
                  <%= link_to new_room_element_comment_path(element) do %>
                    <i class="fas fa-comment-dots"></i>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class= "text-center">
        <p><%= link_to "Preview", condition_report_path(@conditionreport), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>

