<!-- show.pdf.erb -->

<div>
  <h1 class= "text-center">
    Your Flidow condition report
  </h1>
</div>
<div class="container">
  <div class="room">
    <div class="row">

      <div class="col-md-10">
        <% @rooms.each do |room| %>
          <h3><%= room.name %></h3>
          <div class="panel">
            <% room.room_elements.each do |element| %>
              <h4> <%= element.name %> </h4>

                <div class = "approvals">
                  <%= simple_form_for ([element, @room_element_approval]) do |f| %>
                    <%= f.input :condition_report_id, as: :hidden%>
                    <%= f.input :tenant_approval %>
                    <%= f.input :owner_approval %>
                  <% end %>
                </div>

            Comments
              <% element.comments.each do |comment| %>
                <div>
                  <%= comment.text_comment %>
                  <%= comment.state %>
                  <div class="text-right"> <%= cl_image_tag comment.photo, height: 300, width: 400, crop: :fill%>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
