<div class="edit">
  <div class="card">
    <% @rooms.each do |room| %>
      <h3><%= room.name %></h3>
      <% room.room_elements.each do |element| %>
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title"> <%= element.name %> </h4>
          </div>
          <div class="panel-body">
            <span> Comments: </span>
            <% element.comments.each do |comment| %>
              <%= comment.text_comment %>
              <% if comment.photo? %>
                <a href="<%= cl_image_path comment.photo, crop: :fill %>" class="swipebox" title= "<%= element.name %>" >
                  <%= cl_image_tag comment.photo, height: 80, width: 110, crop: :fill, class:"pop imagepreview"%>
                </a>
              <% else %>
              <% end %>

            <p> Current State: <%= comment.state %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
      <div class="action-bar">
        <%= link_to "Confirm", confirmation_url, class: "btn btn-primary action-bar-button"%>
        <div class="action-bar-light-part"></div>
      </div>
  </div>
</div>





