<div class="edit">
    <div class="card">
        <% @rooms.each do |room| %>
          <h3><%= room.name %></h3>
          <% room.room_elements.each do |element| %>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title"> <%= element.name %> </h4>
              </div>
              <div class="panel-body">
                <span> Comments: </span>
                  <% element.comments.each do |comment| %>
                      <%= comment.text_comment %>
                      <%= render partial: "shared/lightbox_image", locals: {photo: comment.photo} %> <br>
                      <p> Current State: <%= comment.state %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>



      <div class="action-bar">
        <%= link_to "Confirm", confirmation_url, class: "btn btn-primary action-bar-button"%>
        <div class="action-bar-light-part"></div>
      </div>
    </div>
  </div>
</div>




