<!-- show.html.erb -->

<div class="container">
  <div class="room">

    <div class="row">
      <div class="col-md-10">
      <% @rooms.each do |room| %>

        <div class="text-center">
        <h1><%= room.name %></h1>
        </div>
        <p class="panel">

        <% room.room_elements.each do |element| %>
          <%= element.name %>
          <% element.room_element_approvals.each do |approval| %>
            Approval <%= approval.tenant_approval %>
            Approval <%= approval.owner_approval %>
          <% end %>
          <% element.comments.each do |comment| %>
            <%= comment.text_comment %>
            <%= comment.state %>
            <%= link_to "Add comment", new_room_element_comment_path(element), class: "btn btn-primary" %>

          <% end %>
        <% end %>
      <% end %>
      </p>
      </div>
    </div>
  </div>
  <div class= "text-center">
    <p> <%= link_to "Preview", condition_reports_path(@conditionreport), class: "btn btn-primary" %></p>
  </div>
</div>
