<div class="show">
    <h1 class="show">
      <span><%= "Level 1, 41 Stewart Street, Richmond, Victoria" %></span>
      <span><%= "Created on: November 30, 2018" %><span>
        <span><%= "Created by: Alexandre Minot" %></span></h1>
  <% @rooms.each do |room| %>
    <h2 class="heading"><%= room.name %></h2>
    <% room.room_elements.each do |element| %>

      <div class="card">
        <div class=" card-header">
          <p class="sub-heading"><%= element.name %></p>
        </div>
        <div class="card-inner">
          <div class="card-body">
            <div class="comments">
              <% element.comments.each do |comment| %>
                <ul class="state tags">
                  <% if comment.state? %>
                    <span>Current state:</span>
                    <% comment.state.split.each do |state| %>
                      <!-- <li class="tag"> -->
                        <span><%= state  %></span>
                      <!-- </li> -->
                    <% end %>
                  <% else %>
                    <!-- li class="tag"> -->
                      <!-- <span></span> -->
                    <!-- </li> -->
                  <% end %>
                </ul>
                <div class="comment">
                  <% if comment.photo? %>
                    <div class="comment-image">
                      <a href="<%= cl_image_path comment.photo, crop: :fill %>" class="swipebox" title= "<%= element.name %>" >
                        <%= cl_image_tag comment.photo.url(:thumbnail), height: 80, width: 110, crop: :fill, class:"pop imagepreview"%>
                      </a>
                    </div>
                    <% end %>
                  <div class="text-comment">
                    <p><%= comment.text_comment %></p>
                  </div>
                </div>
            <% end %>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
