<!-- show.html.erb -->

<div class="container">
  <div class="room">

    <div class="row">
      <div class="col-md-10">
      <% @rooms.each do |room| %>
        <h3><%= room.name %></h3>
          <p class="panel"><% room.room_elements.each do |element| %>
          <%= element.name %>

          Comments 💬
           <% element.comments.each do |comment| %>
            <%= comment.text_comment %>
            <%= comment.state %>
          <% end %>
        <% end %>
      <% end %>
      </p>
      </div>
    </div>
  </div>
  <div class= "text-center">
    <p> <%= link_to "Confirm", condition_reports_path(@conditionreport), class: "btn btn-primary" %></p>
  </div>
</div>
