<!-- show.html.erb -->

<div class="container">
  <div class="room">

    <div class="row">
      <div class="col-md-10">
      <% @rooms.each do |room| %>

        <div class="text-center">
        <h1><%= room.name %></h1>
        </div>
        <p class="panel">

        <% room.room_elements.each do |element| %>
          <%= element.name %>

          Comments
           <% element.comments.each do |comment| %>
            <%= comment.text_comment %>
            <%= comment.state %>


          <% end %>
        <% end %>
      <% end %>
      </p>
      </div>
    </div>
  </div>
  <div class= "text-center">
    <p> <%= link_to "Confirm", condition_reports_path(@conditionreport), class: "btn btn-primary" %></p>
  </div>
</div>
