<!-- show.html.erb -->
<div class="container">
  <div class="room">
    <div class="row">

      <div class="col-md-10">
        <% @comments.room_elements.rooms.each do |room| %>
          <h3><%= room.name %></h3>
          <div class="panel">
            <% @comments.room_elements.each do |room_element| %>
              <h4> <%= room_element.name %> </h4>
              Comments 💬
              <% @comments.each do |comment| %>
                <div>
                  <%= comment.text_comment %>
                  <%= comment.state %>
                  <%= render partial: "shared/lightbox_image", locals: {photo: comment.photo} %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class= "text-center">
        <p> <%= link_to "Confirm", condition_reports_path(@conditionreport), class: "btn btn-primary" %></p>
      </div>

    </div>
  </div>
</div>
